
@using TeamLeasing.Models
@model TeamLeasing.ViewModels.Developer.EditDeveloperProfileViewModel

@section scripts{
    <script src="~/lib/jquery-validation/src/core.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/script/switch-registration.js"></script>
    <script src="~/script/validation-bootstrap.js"></script>
    <script src="~/script/university-field.js"></script>
}
@{
    ViewData["Title"] = "Edycja profilu";
}
<div id="content-contact">
    <div id="login">
        <h2>Edycja konta</h2>

        <form class="form-horizontal" method="post" asp-action="Edit" asp-controller="AccountDeveloper" enctype="multipart/form-data">

            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Password" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
                </div>
                <span asp-validation-for="Password" class="help-block"></span>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="RePassword" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="RePassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Powtórz hasło">
                </div>
                <span asp-validation-for="RePassword" class="help-block"></span>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Phone" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Phone" class="form-control" id="exampleInputPassword1" placeholder="Telefon">
                </div>
                <span asp-validation-for="Phone" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="City" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="City" class="form-control" id="exampleInputPassword1" placeholder="Miasto">
                </div>
                <span asp-validation-for="City" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Province" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Province" type="text" class="form-control" id="exampleInputPassword1" placeholder="Województwo">
                </div>
                <span asp-validation-for="Province" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Experience" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Experience" type="number" class="form-control" id="exampleInputPassword1" placeholder="Doświadczenie">

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Technologies" class="col-sm-2"></label>
                <div class="col-md-10">
                    <select asp-for="ChoosenTechnology" asp-items="@Model.Technologies" class="form-control" id="exampleInputPassword1"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Levels" class="col-sm-2"></label>
                <div class="col-md-10">
                    <select asp-for="ChoosenLevel" asp-items="@Model.Levels" class="form-control" id="exampleInputPassword1"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="IsFinishedUnivesity" class="col-sm-2"></label>
                <div class="col-md-10">
                    <select asp-for="ChoosenIsFinishedUnivesity" asp-items="@Model.IsFinishedUnivesity" class="form-control" id="select-menu"></select>
                </div>
            </div>
            <div class="form-group" id="university-box" style="display: none">
                <label for="exampleInputPassword1" asp-for="University" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="University" type="text" class="form-control" id="exampleInputPassword1" placeholder="Szkoła wyższa">

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="About"  class="col-sm-2"> </label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="About" rows="5" id="comment"></textarea>

                </div>
                <span asp-validation-for="About" class="help-block"></span>

            </div>
            @*<div class="form-group">
        <label for="exampleInputFile" class="col-sm-2">Wgraj CV</label>
        <div class="col-sm-10">
            <input asp-for="CvFile" type="file" id="exampleInputFile">
        </div>
        <span asp-validation-for="CvFile" class="help-block"></span>

    </div>

    <div class="form-group">
        <label for="exampleInputFile" class="col-sm-2">Wgraj zdjęcie</label>
        <div class="col-sm-10">
            <input asp-for="PhotoFile" type="file" id="exampleInputFile">
        </div>
        <span asp-validation-for="PhotoFile" class="help-block"></span>

    </div>*@

            <button type="submit" class="btn btn-default">Zapisz zmiany</button>
        </form>
    </div>
</div>






        @*<div id="content-contact" >
                <div id="login">
                    <h2>Edycja konta</h2>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Imię</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Imię">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Nazwisko</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nazwisko">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Telefon</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Miejscowość</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Województwo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Data urodzenia</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Studia</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Technologia</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                    <option>c#</option>
                                    <option>java</option>
                                    <option>php</option>
                                    <option>python</option>
                                    <option>html/css</option>
                                    <option>javascript</option>
                                    <option>SQL</option>
                                    <option>Ruby</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">Poziom</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1">
                                    <option>junior</option>
                                    <option>regular</option>
                                    <option>senior</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"  class="col-sm-2">O sobie</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="comment"></textarea>

                            </div>
                        </div>



                        <div class="form-group">
                            <label for="exampleInputFile" class="col-sm-2">Wgraj CV</label>
                            <div class="col-sm-10">
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile" class="col-sm-2">Wgraj zdjęcie</label>
                            <div class="col-sm-10">
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default">Zatwierdź edycje</button>
                    </form>
                </div>
            </div>
        *@