@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <h1 class="job-header">Szukasz pracy w IT ?</h1>
    <h1 class="profile-header">Potrzebujesz specjalistów?</h1>
    <button  asp-action="Search" asp-controller="Job" class="job btn-success btn-lg ">Oferty pracy</button>
    <button  asp-action="Search" asp-controller="SearchDeveloper" class="profile btn-success btn-lg ">Profile programistów</button>
</div>