
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">


    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">TeamLeasing</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Job" asp-action="Search">Oferty pracy</a></li>
                    <li><a asp-controller="Developer" asp-action="Search">Profile programistów</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Kontact</a></li>
                 
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Login" asp-action="Logout">@User.Identity.Name  Wyloguj</a></li>
                    }
                    else
                    {
                       <li><a asp-controller="Login" asp-action="Login">Zaloguj</a></li>
                    }

                    

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Moje Konto Programista <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="developer-account.html">Edycja konta</a></li>
                                <li><a href="developer-applications.html">Aplikacje</a></li>
                                <li><a href="developer-offers.html">Przychodzące oderty</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Moje Konto Pracodawca <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="employee-account.html">Edycja konta</a></li>
                                <li><a href="employee-job-offers.html">Twoje oferty</a></li>
                                <li><a href="#">Utwórz oferte</a></li>
                                <li><a href="employee-send-offers.html">Wysłane propozycje</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()

    <div id="footer">
        <p>TeamLeasing.pl</p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
