@{
    ViewData["Title"] = "Contact Page";
}

<form class="form-grp clearfix grpelem" id="widgetu618" method="post" enctype="multipart/form-data" action="scripts/form-u618.php">
    <!-- none box -->
    <div class="fld-grp clearfix grpelem" id="widgetu623" data-required="true">
        <!-- none box -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u625-4" for="widgetu623_input">
            <!-- content -->
            <span class="actAsPara">Nazwisko</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u626-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu623_input" name="custom_U623" tabindex="2" /><label class="wrapped-input fld-prompt" id="widgetu623_prompt" for="widgetu623_input"><span class="actAsPara">Surname</span></label></span>
    </div>
    <div class="fld-grp clearfix grpelem" id="widgetu619" data-required="true" data-type="email">
        <!-- none box -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u622-4" for="widgetu619_input">
            <!-- content -->
            <span class="actAsPara">Adres email</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u620-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu619_input" name="Email" tabindex="3" /><label class="wrapped-input fld-prompt" id="widgetu619_prompt" for="widgetu619_input"><span class="actAsPara">Email</span></label></span>
    </div>
    <div class="clearfix grpelem" id="u627-4">
        <!-- content -->
        <p>Submitting Form...</p>
    </div>
    <div class="clearfix grpelem" id="u633-4">
        <!-- content -->
        <p>The server encountered an error.</p>
    </div>
    <div class="clearfix grpelem" id="u628-4">
        <!-- content -->
        <p>Form received.</p>
    </div>
    <input class="submit-btn NoWrap grpelem" id="u634-17" type="submit" value="" tabindex="5" /><!-- state-based BG images -->
    <div class="fld-grp clearfix grpelem" id="widgetu629" data-required="false">
        <!-- none box -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u630-4" for="widgetu629_input">
            <!-- content -->
            <span class="actAsPara">Wiadomość:</span>
        </label>
        <span class="fld-textarea actAsDiv clearfix grpelem" id="u631-4"><!-- content --><textarea class="wrapped-input" id="widgetu629_input" name="custom_U629" tabindex="4"></textarea><label class="wrapped-input fld-prompt" id="widgetu629_prompt" for="widgetu629_input"><span class="actAsPara">Message</span></label></span>
    </div>
    <div class="fld-grp clearfix grpelem" id="widgetu645" data-required="true">
        <!-- none box -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u646-4" for="widgetu645_input">
            <!-- content -->
            <span class="actAsPara">Imie</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u647-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu645_input" name="custom_U645" tabindex="1" /><label class="wrapped-input fld-prompt" id="widgetu645_prompt" for="widgetu645_input"><span class="actAsPara">Name</span></label></span>
    </div>
</form>