 @using TeamLeasing.ViewModels
 @model TeamLeasing.ViewModels.RegistrationViewModel

@section scripts{
    <script src="~/lib/jquery-validation/src/core.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/script/switch-registration.js"></script>
    <script src="~/script/validation-bootstrap.js"></script>
    <script src="~/script/university-field.js"></script>
} 
@{
    ViewData["Title"] = "rejestracja";
}
<div id="content-contact">
    <div class="register">
        <h2>Rejestracja</h2>
        <ul class="nav nav-tabs nav-justified ">
            <li class="active"><a href="#home">Programista</a></li>
            <li><a href="#menu1">Pracodawca</a></li>
        </ul>
        <div class="tab-content">
            @await Html.PartialAsync("_RegistrationDeveloper",Model.RegistrationDeveloperViewModel)
            @await Html.PartialAsync("_RegistrationEmployee",Model.RegistrationEmployeeViewModel)
        </div>
    </div>

</div>