
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">


    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">TeamLeasing</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="SearchJob" asp-action="Jobs">Oferty pracy</a></li>
                    <li><a asp-controller="SearchDeveloper" asp-action="Developers">Profile programistów</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Kontact</a></li>
                 
                    @if (User.Identity.IsAuthenticated )
                    {
                        <li><a asp-controller="Login" asp-action="Logout">@User.Identity.Name<br/>Wyloguj</a></li>
                    }
                    else
                    {
                       <li><a asp-controller="Login" asp-action="Login">Zaloguj</a></li>
                    }

                    

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Developer"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Moje Konto Programista <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="AccountDeveloper" asp-action="Edit">Edycja konta</a></li>
                                <li><a asp-controller="AccountDeveloper" asp-action="Applications">Aplikacje</a></li>
                                <li><a asp-controller="AccountDeveloper" asp-action="RecivedOffers">Przychodzące oderty</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Moje Konto Pracodawca <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="AccountEmployee" asp-action="Edit">Edycja konta</a></li>
                                <li><a asp-controller="AccountEmployee" asp-action="JobWithApplication">Twoje oferty</a></li>
                                <li><a  asp-controller="AccountEmployee" asp-action="CreateJob">Utwórz oferte</a></li>
                                <li><a asp-controller="AccountEmployee"  asp-action="SentOffer">Wysłane propozycje</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()

    <div id="footer">
        <p>TeamLeasing.pl</p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  
    @RenderSection("scripts", false)
</body>
</html>
