body {
	 width: 1280px;
	margin: 0 auto;
}
.starter-template {
  padding: 0px 15px;
  text-align: center;
}

.image-container{
	margin: 0 auto;
	background-image: url(../image/home_photo.jpg);
	width: auto;
	height: 853px;
	background-repeat: no-repeat;
     background-position: center; 

}
.image-container .job-header{
	padding:300px 0px 0px 200px;
	float: left;
	/*! clear: both; */
}

.image-container .profile-header{
	padding:300px 00px 0px 300px;
	 float: left;
}


.image-container h1{
color: white;
}
.image-container .job{
	clear: both;
	float: left;
	margin: 100px 0 0 300px;
}
.image-container .profile{
 
	float: left;
	margin: 100px 0 0 600px;
}

#footer{
	clear: both;
 padding: 10px;
	background-color: black;
}
#footer p{
color: white;
	text-align: center;
}

 #banner{	 	
	 margin: 0 auto;		
	 background: whitesmoke;
	 
}
#content{
	width: 1280px;
	margin: 0 auto;
	 
} 
#sidebar{ 
	margin: 20px 10px 20px 0;
	clear: both;
	float: left;
	width: 300px;
	background: whitesmoke;
	min-height:400px;
}
 #container{
	 float: left;
	 min-height:400px;
	 margin: 20px 0px 20px 20px;
   width: 950px;
	background: whitesmoke;
}
#banner img{
  margin: 0 auto;
}
.search-jobs{
padding: 30px;
}
#sidebar h4{
	text-align: center;
}
#job-item{
	border-bottom: groove;
	 
}
#job-item #title {
	width: 80%;
	float: left;
	padding: 10px 0 20px 30px;
 }
#job-item #price {
	width: 20%;
	float: left;
	padding: 10px 30px 0 0;
	text-align: right;
 }
#job-item p{
	width: 80%;
	padding: 00px 0px 0 30px;
}
.content{
	background: whitesmoke;
}
.content #title {
	width: 80%;
	float: left;
	padding: 10px 0 20px 30px;
 }
.content #price {
	width: 20%;
	float: left;
	padding: 10px 30px 0 0;
	text-align: right;
 }
#header-container{
	height: 90px;
	border-bottom: solid;
}

#job-description{
border-bottom: solid;
	padding-bottom: 20px;
} 
#job-detail{
	border-bottom: solid;
}

#job-detail   td{
	padding: 5px;
}

#aplly-button{
	padding: 20px 0;
	text-align:center;
}
#aplly-button button{
	padding: 20px 50px;
}
#content-contact{
			background: whitesmoke;
	min-height: 800px;
}
#send-message {
	width: 50%;
		padding: 70px 20px 0px 20px;
	min-height: 400px;
	float : left;


}
#send-message h1 {
	text-align: center;
}
#send-message form{
	padding: 50px;
}
#map{
		padding: 70px 20px 0px 20px;
	width: 50%;
	float: left;
	min-height: 500px;
 	text-align: center;

 }
#content-contact h2{
	padding: 50px 0 0 0;
	text-align: center;
	
}

#content-contact .register{
	padding: 20px 200px 50px 200px;
	text-align: center;
	
}
.tab-content form{
	padding: 20px 200px 100px 200px;	
	
}
#content-contact{
  margin: auto 0;
}
#content-contact #login{
	padding: 40px 400px 50px 400px;
	text-align: center;
	
}
#login form{
	padding: 0 0 20px 0;
}
.profile-item{
	height: 300px;
	padding: 20px;
	border-bottom: solid 2px;
}
.profile-item img{
	float:left;
}
.profile-item div{
	padding: 0px 0 0 250px;
}
table, th, td {
   padding: 5px 0 0 0;
}