@{
    ViewData["Title"] = "Home Page";
}
<div class="clearfix colelem" id="pu200">
    <!-- group -->
    <div class="clip_frame grpelem" id="u200">
        <!-- image -->
        <img class="block" id="u200_img" src="~/images/home_photo.jpg" alt="" width="1428" height="952" />
    </div>
    <a class="nonblock nontext Button rounded-corners clearfix grpelem" id="buttonu209" href="oferty-pracy.html"><!-- container box --><div class="clearfix grpelem" id="u210-4"><!-- content --><p>Oferty pracy</p></div></a>
    <a class="nonblock nontext Button rounded-corners clearfix grpelem" id="buttonu255" href="oferty-pracy.html"><!-- container box --><div class="clearfix grpelem" id="u256-4"><!-- content --><p>Profile programistów</p></div></a>
    <div class="clearfix grpelem" id="u259-6">
        <!-- content -->
        <p>Szukasz pracy</p>
        <p>w IT ?</p>
    </div>
    <div class="Home clearfix grpelem" id="u261-4">
        <!-- content -->
        <h3>Potrzebujesz specjalistów ?</h3>
    </div>
</div>