.Logo
{
	font-family: passion-one-n4, sans-serif;
}

.Home
{
	font-family: sansita-one-n4, sans-serif;
}

.Paragraph-Style-1
{
	font-family: lancelot-n4, serif;
}

.Login,.Paragraph-Style-2
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u165-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u171-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u157-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u150-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1256-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1301-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u176-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

