.Logo
{
	font-family: passion-one-n4, sans-serif;
}

.Home
{
	font-family: sansita-one-n4, sans-serif;
}

.Paragraph-Style-1
{
	font-family: lancelot-n4, serif;
}

.Login,.Paragraph-Style-2
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u165-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u171-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u157-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u150-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1256-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1301-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u176-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1388-4,#u1386-4,#u1387-4,#u1401-4,#u1392-4,#u1381-4,#u1382-4,#u1375-4,#u1362-4,#u1363-4,#u1367-4,#u1364-4,#u1365-4,#u1366-4,#u1368-4,#u1369-4,#u1393-4,#u1389-4,#u1400-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

