.Logo
{
	font-family: passion-one-n4, sans-serif;
}

.Home
{
	font-family: sansita-one-n4, sans-serif;
}

.Paragraph-Style-1
{
	font-family: lancelot-n4, serif;
}

.Login,.Paragraph-Style-2
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u165-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u171-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u157-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u150-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1256-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1301-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u176-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1276-4,#u1281-4,#u1280-4,#u1283-4,#u1402-4,#u1260-4,#u1269-4,#u1263-4,#u1270-4,#u1271-4,#u1272-4,#u1265-4,#u1282-4,#u1268-4,#u1403-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

