.version.oferta_pracy /* version checker */
{
	color: #0000FA;
	background-color: #912E01;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1228px;
	min-height: 1013.9999999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -4px;
}

#pu74
{
	width: 0.01px;
	margin-left: -100px;
}

#u74
{
	z-index: 2;
	padding-bottom: 17px;
}

#u75-4
{
	z-index: 3;
	width: 212px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 116px;
}

#u109
{
	z-index: 8;
	width: 4px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 1130px;
}

#u74-bw
{
	z-index: 2;
	height: 53px;
}

#menuu110
{
	z-index: 9;
	width: 781px;
	margin-right: -10000px;
	left: 547px;
}

#u161
{
	width: 101px;
	min-height: 70px;
	margin-right: -10000px;
}

#u162
{
	width: 101px;
	padding-bottom: 46px;
}

#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u165-4
{
	width: 87px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u162:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u162:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 163px;
	min-height: 70px;
	margin-right: -10000px;
	left: 103px;
}

#u169
{
	width: 163px;
	padding-bottom: 46px;
}

#u162.MuseMenuActive,#u169:hover
{
	margin: 0px;
}

#u169:active
{
	margin: 0px;
}

#u171-4
{
	width: 149px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u162.MuseMenuActive #u165-4,#u169:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u169:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 70px;
	min-height: 70px;
	margin-right: -10000px;
	left: 268px;
}

#u155
{
	width: 70px;
	padding-bottom: 46px;
}

#u169.MuseMenuActive,#u155:hover
{
	margin: 0px;
}

#u155:active
{
	margin: 0px;
}

#u157-4
{
	width: 56px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u169.MuseMenuActive #u171-4,#u155:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u155:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	width: 68px;
	min-height: 70px;
	margin-right: -10000px;
	left: 340px;
}

#u148
{
	width: 68px;
	padding-bottom: 46px;
}

#u155.MuseMenuActive,#u148:hover
{
	margin: 0px;
}

#u148:active
{
	margin: 0px;
}

#u150-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u155.MuseMenuActive #u157-4,#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u148:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1251
{
	width: 185px;
	min-height: 70px;
	margin-right: -10000px;
	left: 410px;
}

#u1254
{
	width: 185px;
	padding-bottom: 46px;
}

#u148.MuseMenuActive,#u1254:hover
{
	margin: 0px;
}

#u1254:active
{
	margin: 0px;
}

#u1256-4
{
	width: 171px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u148.MuseMenuActive #u150-4,#u1254:hover #u1256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1254:active #u1256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1296
{
	width: 184px;
	min-height: 70px;
	margin-right: -10000px;
	left: 597px;
}

#u1299
{
	width: 184px;
	padding-bottom: 46px;
}

#u1254.MuseMenuActive,#u1299:hover
{
	margin: 0px;
}

#u1299:active
{
	margin: 0px;
}

#u1299.MuseMenuActive
{
	margin: 0px;
}

#u1301-4
{
	width: 170px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u1254.MuseMenuActive #u1256-4,#u1299:hover #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1299:active #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1299.MuseMenuActive #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#pu918
{
	width: 0.01px;
	margin-top: 18px;
}

#u918
{
	z-index: 50;
	width: 1228px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u920
{
	z-index: 52;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 1125px;
}

#u922
{
	z-index: 54;
	width: 104px;
	background-color: transparent;
	-webkit-transform: matrix(-0.9998,-0.0175,0.0175,-0.9998,103,105);
	-ms-transform: matrix(-0.9998,-0.0175,0.0175,-0.9998,103,105);
	-o-transform: matrix(-0.9998,-0.0175,0.0175,-0.9998,103,105);
	transform: matrix(-0.9998,-0.0175,0.0175,-0.9998,103,105);
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 1px;
}

#pu924
{
	width: 0.01px;
	margin-top: 9px;
}

#u924
{
	z-index: 56;
	width: 1229px;
	border-style: none;
	border-color: transparent;
	background-color: #F1F1F1;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u924_position_content
{
	padding-bottom: 159px;
}

#pu928-4
{
	width: 0.01px;
}

#u928-4
{
	z-index: 57;
	width: 986px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u929-4
{
	z-index: 61;
	width: 242px;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 986px;
}

#u930
{
	z-index: 65;
	width: 1228px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 313px;
	margin-top: 25px;
	position: relative;
	border-width: 2px 0px;
}

#u931-4
{
	z-index: 66;
	width: 1228px;
	min-height: 66px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: left;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u937-4
{
	z-index: 74;
	width: 186px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	margin-top: 77px;
	position: relative;
}

#u942-4
{
	z-index: 78;
	width: 186px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u944-4
{
	z-index: 82;
	width: 186px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u945-4
{
	z-index: 86;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u960-4
{
	z-index: 98;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u946-4
{
	z-index: 90;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u949-4
{
	z-index: 94;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#pu945-4,#pu961-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u961-4
{
	z-index: 102;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u962-4
{
	z-index: 106;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#pu946-4,#pu974-4
{
	width: 0.01px;
	margin-top: 12px;
}

#u974-4
{
	z-index: 114;
	width: 129px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u973-4
{
	z-index: 110;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#buttonu971
{
	z-index: 138;
	width: 231px;
	border-color: #ED1C24;
	background-color: #0074BC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 34px;
	margin-left: 499px;
	margin-top: 16px;
	position: relative;
}

#buttonu971:hover
{
	background-color: #2DC7FF;
	margin: 16px 0px 0px 499px;
}

#u972-4
{
	z-index: 139;
	width: 215px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	font-size: 31px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 8px;
}

#buttonu971:hover #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 34px -10000px 0px 0px;
}

#buttonu971.ButtonSelected #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 34px -10000px 0px 0px;
}

#u935-4
{
	z-index: 70;
	width: 1228px;
	min-height: 66px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: left;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 489px;
}

#u952-4
{
	z-index: 118;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 652px;
	left: 142px;
}

#u953-4
{
	z-index: 122;
	width: 120px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 609px;
	left: 142px;
}

#u954-4
{
	z-index: 126;
	width: 406px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 142px;
}

#u932-4
{
	z-index: 130;
	width: 1228px;
	min-height: 314px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
}

#u933
{
	z-index: 134;
	width: 1228px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 489px;
	border-width: 1px 0px;
}

#u955-3
{
	z-index: 135;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 262px;
}

#u96
{
	z-index: 7;
	padding-bottom: 19px;
}

#u74_align_to_page,#u96_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1228px;
	left: -100px;
}

#u176-4
{
	z-index: 46;
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 663px;
}

#u96-bw
{
	z-index: 7;
	margin-top: 18px;
	height: 81px;
}

body
{
	position: relative;
	min-width: 1228px;
}

#page .verticalspacer
{
	clear: both;
}

