.version.zarejestruj /* version checker */
{
	color: #0000F2;
	background-color: #A07C67;
}

#page
{
	z-index: 1;
	width: 1228px;
	min-height: 1013.8499999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -4px;
}

#pu74
{
	width: 0.01px;
	margin-left: -100px;
}

#u74
{
	z-index: 2;
	padding-bottom: 17px;
}

#u75-4
{
	z-index: 3;
	width: 212px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 116px;
}

#u109
{
	z-index: 8;
	width: 4px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 1130px;
}

#u74-bw
{
	z-index: 2;
	height: 53px;
}

#menuu110
{
	z-index: 9;
	width: 781px;
	margin-right: -10000px;
	left: 547px;
}

#u161
{
	width: 101px;
	min-height: 70px;
	margin-right: -10000px;
}

#u162
{
	width: 101px;
	padding-bottom: 46px;
}

#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u165-4
{
	width: 87px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u162:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u162:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 163px;
	min-height: 70px;
	margin-right: -10000px;
	left: 103px;
}

#u169
{
	width: 163px;
	padding-bottom: 46px;
}

#u162.MuseMenuActive,#u169:hover
{
	margin: 0px;
}

#u169:active
{
	margin: 0px;
}

#u171-4
{
	width: 149px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u162.MuseMenuActive #u165-4,#u169:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u169:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 70px;
	min-height: 70px;
	margin-right: -10000px;
	left: 268px;
}

#u155
{
	width: 70px;
	padding-bottom: 46px;
}

#u169.MuseMenuActive,#u155:hover
{
	margin: 0px;
}

#u155:active
{
	margin: 0px;
}

#u157-4
{
	width: 56px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u169.MuseMenuActive #u171-4,#u155:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u155:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	width: 68px;
	min-height: 70px;
	margin-right: -10000px;
	left: 340px;
}

#u148
{
	width: 68px;
	padding-bottom: 46px;
}

#u155.MuseMenuActive,#u148:hover
{
	margin: 0px;
}

#u148:active
{
	margin: 0px;
}

#u150-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u155.MuseMenuActive #u157-4,#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u148:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1251
{
	width: 185px;
	min-height: 70px;
	margin-right: -10000px;
	left: 410px;
}

#u1254
{
	width: 185px;
	padding-bottom: 46px;
}

#u148.MuseMenuActive,#u1254:hover
{
	margin: 0px;
}

#u1254:active
{
	margin: 0px;
}

#u1256-4
{
	width: 171px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u148.MuseMenuActive #u150-4,#u1254:hover #u1256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1254:active #u1256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1296
{
	width: 184px;
	min-height: 70px;
	margin-right: -10000px;
	left: 597px;
}

#u1299
{
	width: 184px;
	padding-bottom: 46px;
}

#u1254.MuseMenuActive,#u1299:hover
{
	margin: 0px;
}

#u1299:active
{
	margin: 0px;
}

#u1299.MuseMenuActive
{
	margin: 0px;
}

#u1301-4
{
	width: 170px;
	min-height: 24px;
	margin-right: -10000px;
	top: 23px;
	left: 7px;
}

#u1254.MuseMenuActive #u1256-4,#u1299:hover #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1299:active #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1299.MuseMenuActive #u1301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u614
{
	z-index: 50;
	width: 1228px;
	border-style: none;
	border-color: transparent;
	background-color: #F1F1F1;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 180px;
	margin-top: 22px;
	position: relative;
}

#pu615-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 354px;
}

#u615-4
{
	z-index: 210;
	width: 184px;
	min-height: 57px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 162px;
	position: relative;
}

#tab-panelu397
{
	z-index: 51;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u411
{
	z-index: 52;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u416
{
	z-index: 53;
	width: 255px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u416:hover
{
	background-color: #FFFFFF;
	margin: 0px -10000px 0px 0px;
}

#u417-4
{
	z-index: 54;
	width: 255px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u416:hover #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u412
{
	z-index: 58;
	width: 255px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u412:hover
{
	background-color: #FFFFFF;
	margin: 0px -10000px 0px 0px;
}

#u416.TabbedPanelsTabSelected,#u412.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px -10000px 0px 0px;
}

#u414-4
{
	z-index: 59;
	width: 255px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u416.TabbedPanelsTabSelected #u417-4 p,#u412.TabbedPanelsTabSelected #u414-4 p
{
	color: #000000;
	visibility: inherit;
}

#u398
{
	z-index: 63;
	width: 509px;
	background-color: transparent;
	position: relative;
}

#u407
{
	z-index: 64;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
}

#widgetu451
{
	z-index: 65;
	width: 0.01px;
	height: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 84px;
}

#widgetu456
{
	z-index: 66;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u458-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u459-4
{
	z-index: 71;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

.html,#widgetu456.non-empty-st #u459-4
{
	background-color: #FFFFFF;
}

#widgetu456:hover #u459-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu456.focus-st #u459-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu456.non-empty-st #u459-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu456:hover #u459-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu456.focus-st #u459-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu452
{
	z-index: 75;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#u455-4
{
	z-index: 76;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u453-4
{
	z-index: 80;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu452.non-empty-st #u453-4
{
	background-color: #FFFFFF;
}

#widgetu452:hover #u453-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu452.focus-st #u453-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu452.non-empty-st #u453-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu452:hover #u453-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu452.focus-st #u453-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u460-4
{
	z-index: 84;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u466-4
{
	z-index: 88;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u461-4
{
	z-index: 92;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u467-17
{
	z-index: 96;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 210px;
	background: url("../images/u467-17.png") no-repeat 0px 0px;
}

#u467-17:hover
{
	background: url("../images/u467-17-r.png") no-repeat 0px 0px;
}

#u467-17:active
{
	background: url("../images/u467-17-m.png") no-repeat 0px 0px;
}

#widgetu451.frm-sub-st #u467-17
{
	background: url("../images/u467-17-fs.png") no-repeat 0px 0px;
}

#widgetu472
{
	z-index: 113;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: -1px;
}

#widgetu472.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 116px -10000px 0px 0px;
}

#u474-4
{
	z-index: 114;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u473-4
{
	z-index: 118;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu472.non-empty-st #u473-4
{
	background-color: #FFFFFF;
}

#widgetu472:hover #u473-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu472.focus-st #u473-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu472.non-empty-st #u473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu472:hover #u473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu472.focus-st #u473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu476
{
	z-index: 122;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: -1px;
}

#widgetu476.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 171px -10000px 0px 0px;
}

#u478-4
{
	z-index: 123;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u479-4
{
	z-index: 127;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu476.non-empty-st #u479-4
{
	background-color: #FFFFFF;
}

#widgetu476:hover #u479-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu476.focus-st #u479-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu476.non-empty-st #u479-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu476:hover #u479-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu476.focus-st #u479-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u399
{
	z-index: 131;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 32px;
	margin-right: -10000px;
	position: relative;
}

#widgetu584
{
	z-index: 132;
	width: 0.01px;
	height: 318px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 85px;
}

#widgetu589
{
	z-index: 133;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu456.fld-err-st,#widgetu589.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u591-4
{
	z-index: 134;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u416.TabbedPanelsTabSelected #u417-4,#u412.TabbedPanelsTabSelected #u414-4,#widgetu456.fld-err-st #u458-4,#widgetu589.fld-err-st #u591-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u592-4
{
	z-index: 138;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu589.non-empty-st #u592-4
{
	background-color: #FFFFFF;
}

#widgetu589:hover #u592-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu589.focus-st #u592-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu589.non-empty-st #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu589:hover #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu589.focus-st #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585
{
	z-index: 142;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu452.fld-err-st,#widgetu585.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u588-4
{
	z-index: 143;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u586-4
{
	z-index: 147;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu585.non-empty-st #u586-4
{
	background-color: #FFFFFF;
}

#widgetu585:hover #u586-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu585.focus-st #u586-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu585.non-empty-st #u586-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585:hover #u586-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585.focus-st #u586-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u593-4
{
	z-index: 151;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu451.frm-sub-st #u460-4 p,#widgetu584.frm-sub-st #u593-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u599-4
{
	z-index: 155;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu451.frm-subm-err-st #u466-4 p,#widgetu584.frm-subm-err-st #u599-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u594-4
{
	z-index: 159;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu451.frm-sub-st #u460-4,#widgetu451.frm-subm-err-st #u466-4,#widgetu451.frm-subm-ok-st #u461-4,#widgetu584.frm-sub-st #u593-4,#widgetu584.frm-subm-err-st #u599-4,#widgetu584.frm-subm-ok-st #u594-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu451.frm-subm-ok-st #u461-4 p,#widgetu584.frm-subm-ok-st #u594-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u600-17
{
	z-index: 163;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 210px;
	background: url("../images/u600-17.png") no-repeat 0px 0px;
}

#u600-17:hover
{
	background: url("../images/u600-17-r.png") no-repeat 0px 0px;
}

#u600-17:active
{
	background: url("../images/u600-17-m.png") no-repeat 0px 0px;
}

#widgetu584.frm-sub-st #u600-17
{
	background: url("../images/u600-17-fs.png") no-repeat 0px 0px;
}

#widgetu601
{
	z-index: 180;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu601.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 119px -10000px 0px 0px;
}

#u603-4
{
	z-index: 181;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u604-4
{
	z-index: 185;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu601.non-empty-st #u604-4
{
	background-color: #FFFFFF;
}

#widgetu601:hover #u604-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu601.focus-st #u604-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu601.non-empty-st #u604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu601:hover #u604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu601.focus-st #u604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu605
{
	z-index: 189;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: -1px;
}

#widgetu605.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 175px -10000px 0px 0px;
}

#u607-4
{
	z-index: 190;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u608-4
{
	z-index: 194;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu605.non-empty-st #u608-4
{
	background-color: #FFFFFF;
}

#widgetu605:hover #u608-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu605.focus-st #u608-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu605.non-empty-st #u608-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu605:hover #u608-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu605.focus-st #u608-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu609
{
	z-index: 198;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: -1px;
}

#widgetu609.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 231px -10000px 0px 0px;
}

#u612-4
{
	z-index: 199;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu452.fld-err-st #u455-4,#widgetu472.fld-err-st #u474-4,#widgetu476.fld-err-st #u478-4,#widgetu585.fld-err-st #u588-4,#widgetu601.fld-err-st #u603-4,#widgetu605.fld-err-st #u607-4,#widgetu609.fld-err-st #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu456.fld-err-st #u458-4 p,#widgetu456.fld-err-st #u458-4 span,#widgetu452.fld-err-st #u455-4 p,#widgetu452.fld-err-st #u455-4 span,#widgetu472.fld-err-st #u474-4 p,#widgetu472.fld-err-st #u474-4 span,#widgetu476.fld-err-st #u478-4 p,#widgetu476.fld-err-st #u478-4 span,#widgetu589.fld-err-st #u591-4 p,#widgetu589.fld-err-st #u591-4 span,#widgetu585.fld-err-st #u588-4 p,#widgetu585.fld-err-st #u588-4 span,#widgetu601.fld-err-st #u603-4 p,#widgetu601.fld-err-st #u603-4 span,#widgetu605.fld-err-st #u607-4 p,#widgetu605.fld-err-st #u607-4 span,#widgetu609.fld-err-st #u612-4 p,#widgetu609.fld-err-st #u612-4 span
{
	color: #D7244C;
}

#u610-4
{
	z-index: 203;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu609.non-empty-st #u610-4
{
	background-color: #FFFFFF;
}

#widgetu609:hover #u610-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu609.focus-st #u610-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu456.fld-err-st #u459-4,#widgetu452.fld-err-st #u453-4,#widgetu472.fld-err-st #u473-4,#widgetu476.fld-err-st #u479-4,#widgetu589.fld-err-st #u592-4,#widgetu585.fld-err-st #u586-4,#widgetu601.fld-err-st #u604-4,#widgetu605.fld-err-st #u608-4,#widgetu609.fld-err-st #u610-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu609.non-empty-st #u610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu609:hover #u610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu609.focus-st #u610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu456.fld-err-st #u459-4 *,#widgetu452.fld-err-st #u453-4 *,#widgetu472.fld-err-st #u473-4 *,#widgetu476.fld-err-st #u479-4 *,#widgetu589.fld-err-st #u592-4 *,#widgetu585.fld-err-st #u586-4 *,#widgetu601.fld-err-st #u604-4 *,#widgetu605.fld-err-st #u608-4 *,#widgetu609.fld-err-st #u610-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu456_input,#widgetu456_prompt,#widgetu452_input,#widgetu452_prompt,#widgetu472_input,#widgetu472_prompt,#widgetu476_input,#widgetu476_prompt,#widgetu589_input,#widgetu589_prompt,#widgetu585_input,#widgetu585_prompt,#widgetu601_input,#widgetu601_prompt,#widgetu605_input,#widgetu605_prompt,#widgetu609_input,#widgetu609_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu456.focus-st #widgetu456_prompt,#widgetu452.focus-st #widgetu452_prompt,#widgetu472.focus-st #widgetu472_prompt,#widgetu476.focus-st #widgetu476_prompt,#widgetu589.focus-st #widgetu589_prompt,#widgetu585.focus-st #widgetu585_prompt,#widgetu601.focus-st #widgetu601_prompt,#widgetu605.focus-st #widgetu605_prompt,#widgetu609.focus-st #widgetu609_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu456:hover #widgetu456_input,#widgetu456.focus-st #widgetu456_input,#widgetu456.fld-err-st #widgetu456_input,#widgetu456:hover #widgetu456_prompt,#widgetu456.fld-err-st #widgetu456_prompt,#widgetu452:hover #widgetu452_input,#widgetu452.focus-st #widgetu452_input,#widgetu452.fld-err-st #widgetu452_input,#widgetu452:hover #widgetu452_prompt,#widgetu452.fld-err-st #widgetu452_prompt,#widgetu472:hover #widgetu472_input,#widgetu472.focus-st #widgetu472_input,#widgetu472.fld-err-st #widgetu472_input,#widgetu472:hover #widgetu472_prompt,#widgetu472.fld-err-st #widgetu472_prompt,#widgetu476:hover #widgetu476_input,#widgetu476.focus-st #widgetu476_input,#widgetu476.fld-err-st #widgetu476_input,#widgetu476:hover #widgetu476_prompt,#widgetu476.fld-err-st #widgetu476_prompt,#widgetu589:hover #widgetu589_input,#widgetu589.focus-st #widgetu589_input,#widgetu589.fld-err-st #widgetu589_input,#widgetu589:hover #widgetu589_prompt,#widgetu589.fld-err-st #widgetu589_prompt,#widgetu585:hover #widgetu585_input,#widgetu585.focus-st #widgetu585_input,#widgetu585.fld-err-st #widgetu585_input,#widgetu585:hover #widgetu585_prompt,#widgetu585.fld-err-st #widgetu585_prompt,#widgetu601:hover #widgetu601_input,#widgetu601.focus-st #widgetu601_input,#widgetu601.fld-err-st #widgetu601_input,#widgetu601:hover #widgetu601_prompt,#widgetu601.fld-err-st #widgetu601_prompt,#widgetu605:hover #widgetu605_input,#widgetu605.focus-st #widgetu605_input,#widgetu605.fld-err-st #widgetu605_input,#widgetu605:hover #widgetu605_prompt,#widgetu605.fld-err-st #widgetu605_prompt,#widgetu609:hover #widgetu609_input,#widgetu609.focus-st #widgetu609_input,#widgetu609.fld-err-st #widgetu609_input,#widgetu609:hover #widgetu609_prompt,#widgetu609.fld-err-st #widgetu609_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu456.non-empty-st #widgetu456_prompt,#widgetu452.non-empty-st #widgetu452_prompt,#widgetu472.non-empty-st #widgetu472_prompt,#widgetu476.non-empty-st #widgetu476_prompt,#widgetu589.non-empty-st #widgetu589_prompt,#widgetu585.non-empty-st #widgetu585_prompt,#widgetu601.non-empty-st #widgetu601_prompt,#widgetu605.non-empty-st #widgetu605_prompt,#widgetu609.non-empty-st #widgetu609_prompt
{
	visibility: hidden;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u480-3
{
	z-index: 207;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 502px;
	left: 903px;
}

#u96
{
	z-index: 7;
	padding-bottom: 19px;
}

#u74_align_to_page,#u96_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1228px;
	left: -100px;
}

#u176-4
{
	z-index: 46;
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 663px;
}

#u96-bw
{
	z-index: 7;
	margin-top: 18px;
	height: 81px;
}

body
{
	position: relative;
	min-width: 1228px;
}

#page .verticalspacer
{
	clear: both;
}

